<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <title>Title</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link type="text/css" rel="stylesheet" href="/admin/css/global.css"/>
    <link type="text/css" rel="stylesheet" href="/home/css/css.css"/>
    <script src="/plugins/jquery/jquery.min.js"></script>
    <script src="/plugins/layer/layer.js"></script>
    <script src="/admin/js/global.js"></script>
    <script src="/home/js/js.js"></script>
</head>