<div class="box tags">
    <h4 class="font18">标签</h4>
    <ul class="mt-10">
        <li class="text-overflow"><a href="#">标签1</a></li>
    </ul>
    <div class="clearfix"></div>
</div>

<div class="box recommend">
    <h4 class="font18">推荐</h4>
    <ul>
        <li class="text-overflow"><a href="#">标签1</a></li>
    </ul>
    <div class="clearfix"></div>
</div>

<div class="box comment">
    <h4 class="font18">评论</h4>
    <ul class="">
        <li>
            <div class="left"><img src="/home/images/listpic.jpg"/></div>
            <div class="right">
                <div class="overflow-hidden">
                    <div class="pull-left">回复人姓名</div>
                    <div class="pull-right c-light font12">回复时间</div>
                </div>
                <div class="overflow-hidden">
                    <span class="c-light display-iblock pull-left">在</span>
                    <a href="#" class="a text-overflow pull-left">这篇文章这篇文章这篇文章这篇文章这篇文章</a>
                    <span class="c-light display-iblock pull-left">中回复</span>
                </div>
                <div class="c-light font12 p">
                    这是回复的内容这是回复的内容,这是回复的内容这是回复的内容,这是回复的内容这是回复的内容这是回复的内容这是回复的内容这是回复的内容这是回复的内容
                </div>
            </div>
        </li>
    </ul>
    <div class="clearfix"></div>
</div>