<{include file="public/head"}>
<body class="vdouw-home">
<{include file="public/header"}>
<article>
    <div class="width1200 middle-left-right pb-100">
        <div class="pull-left width800">
            <div class="article-box mt-20">
                <div class="title">
                    <h2 class="text-align-center"><{$info.title}></h2>
                    <p class="mt-5 text-align-center">
                        <span class="mr-20">作者：<{$info.author}></span>
                        <span class="mr-20">更新时间：<{$info.addtime|date="Y:m:d H:i:s",###}></span>
                        <span class="mr-20">所属分类：<{$info.categoryName.name}></span>
                        <span class="mr-20">所属标签：<{volist name="$info.tag" id="v"}><b class="mr-10 font-normal"><{$v.name}></b><{/volist}></span>
                    </p>
                </div>
                <div class="content">
                    <div class="con"><{$info.content}></div>
                    <div class="">
                        <p><span>上一篇：</span><a href="#">上一篇文章</a></p>
                        <p><span>下一篇：</span><a href="#">下一篇文章</a></p>
                    </div>
                </div>
            </div>
            <div class="article-box">
                <div class="comment-box overflow-hidden border-bottom-1px">
                    <div class="left"><img src="/home/images/listpic.jpg"/></div>
                    <div class="right">
                        <textarea name="comment-content">一级回复输入框</textarea>
                        <input type="button" class="btn btn-primary width150 mt-5" onclick="comment()" value="提交"/>
                    </div>
                </div>
                <div class="comment-list">
                    <dl>
                        <dt class="overflow-hidden">
                            <span class="pull-left font16 font-bold">最新评论</span>
                            <span class="pull-right">总共18条评论</span>
                        </dt>
                        <dd>
                            <ul>
                                <!--一级评论开始-->
                                <li>
                                    <div class="left"><img src="/home/images/listpic.jpg"/></div>
                                    <div class="right">
                                        <div>
                                            <p><span>张一丰</span><span>：</span><span>一级回复</span></p>
                                            <p><span>2017-12-12 12:12:12</span><span class="color-blue ml-5">回复</span>
                                            </p>
                                        </div>
                                        <!--二级评论开始-->
                                        <div class="son">
                                            <div class="left"><img src="/home/images/listpic.jpg"/></div>
                                            <div class="right">
                                                <p><span>张二丰</span><span>：</span><span>二级回复</span></p>
                                                <p><span>2017-12-12 12:12:12</span><span
                                                        class="color-blue ml-5">回复</span></p>
                                            </div>
                                        </div>
                                        <!--二级评论结束-->
                                        <div class="son">
                                            <div class="left"><img src="/home/images/listpic.jpg"/></div>
                                            <div class="right">
                                                <p><span>张二丰</span><span>：</span><span>二级回复</span></p>
                                                <p><span>2017-12-12 12:12:12</span><span
                                                        class="color-blue ml-5">回复</span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="comment-box overflow-hidden mt-10">
                                            <div class="right" style="margin-left:0">
                                                <textarea>二级回复输入框</textarea>
                                                <input type="button" class="btn btn-primary width150 mt-5" value="提交"/>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <!--一级评论结束-->
                                <li>
                                    <div class="left"><img src="/home/images/listpic.jpg"/></div>
                                    <div class="right">
                                        <p><span>张一丰</span><span>：</span><span>不行是学院的做派，而不是技术人的品格。一名技术人，本身就是知和行的统一。
“问题在于改变世界”——从青年黑格尔派初次提出这样的命题，到马克思在《关于费尔巴哈提纲》中正式确立全新的</span></p>
                                        <p><span>2017-12-12 12:12:12</span><span class="color-blue ml-5">回复</span></p>
                                        <div class="comment-box overflow-hidden mt-10">
                                            <div class="right" style="margin-left:0">
                                                <textarea>二级回复输入框</textarea>
                                                <input type="button" class="btn btn-primary width150 mt-5" value="提交"/>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </dd>
                    </dl>
                </div>
            </div>

        </div>
        <div class="pull-right">
            <{include file="public/right"}>
        </div>
        <div class="clearfix"></div>
    </div>

</article>
<footer>
    <p>footer第一行</p>
    <p>footer第二行</p>
</footer>

<script>
    var SCOPE = {
        'save_url': '/index.php/home/index/comment/',
        'jump_url': '/index.php/home/index/index'
    };
    $('.article-ul li').each(function () {
        if ($(this).find('.img').attr('src') == "") {
            $(this).find('.img').attr('src', '/home/images/listpic.jpg');
        }
    });

    //一级评论
    function comment() {
        var postData = {
            'news_id': '<{$info.id}>',
            'content': $('[name=comment-content]').val(),
            'parent_id': 0,
            'member_id': JSON.parse(vdouwTool.getCookie('memberInfo'))['id']
        };

        console.log(postData);
        //return;
        $.post(SCOPE.save_url, postData, function (result) {
            if (result.status == 1) {
                return (dialog.success(result.message, SCOPE.jump_url));
            } else if (result.status == 0) {
                return (dialog.error(result.message));
            }
        }, "JSON");
    }
</script>

<{include file="public/footer"}>
