<{include file="public/header" /}>
<body class="vdouw-admin-body">
<div class="vdouw-admin-position">
    <i class="icon-home mr-3"></i><span>商户入驻申请</span>
</div>
<div class="mt-10 mb-10 vdouw-admin-title">
    <b class="font20 height-100">商户入驻申请</b>
    <i class="ml-10 mr-10">|</i>
    <a class="color-admin-blue" href="/index.php/bis/login/index">已有帐号？进入登录</a>
</div>
<form id="vdouw-form">
    <table class="width100 vdouw-table mb-20" cellpadding="0" cellspacing="0">
        <thead>
        <tr>
            <td colspan="2"><b>账户信息</b></td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="width20">用户名</td>
            <td class="width80"><input type="text" name="username" value="bis" class="form-control width500 height-30"/>
            </td>
        </tr>

        <tr>
            <td>密码</td>
            <td><input type="text" name="password" class="form-control width500 height-30" value="123456"/></td>
        </tr>
        </tbody>
    </table>
    <table class="width100 vdouw-table mb-20" cellpadding="0" cellspacing="0">
        <thead>
        <tr>
            <td colspan="2"><b>基本信息</b></td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>商户名称</td>
            <td><input type="text" name="name" value="商户名称" class="form-control width500 height-30"/></td>
        </tr>

        <tr>
            <td class="width20">所属省市</td>
            <td class="width80 font0">
                <select class="form-control width240 height-30 cityId" name="city_id">
                    <option>选择省市</option>
                    <{volist name="firstCitys" id="vo"}>
                    <option value="<{$vo.id}>"><{$vo.name}></option>
                    <{/volist}>
                </select>
                <select class="form-control width240 height-30 ml-20 se_city_id" name="se_city_id">
                    <option>选择县市</option>
                </select>
            </td>
        </tr>

        <tr>
            <td>缩略图</td>
            <td>
                <input id="file_upload" type="file" multiple="true">
                <img style="display: none" id="upload_org_code_img" src="" width="150" height="150">
                <input id="file_upload_image" name="licence_logo" type="hidden" multiple="true" value="">
            </td>
            <!--<td><input id="file_upload" type="file" multiple="true" name="logo"/></td>-->
        </tr>

        <tr>
            <td>营业执照</td>
            <td>
                <input id="file_upload_other" type="file" multiple="true">
                <img style="display: none" id="upload_org_code_img_other" src="" width="150" height="150">
                <input id="file_upload_image_other" name="licence_logo" type="hidden" multiple="true" value="">
            </td>
            <!--<td><input id="file_upload_other" type="file" multiple="true" name="licence_logo"/></td>-->
        </tr>

        <tr class="vdouw-kingeditor">
            <td>商户介绍</td>
            <td>
                <script id="editor1" type="text/plain" name="description" style="width:90%;height:300px;"></script>
            </td>
        </tr>

        <tr>
            <td>银行账号</td>
            <td><input name="bank_info" type="text" value="银行账号" class="form-control width500 height-30"/></td>
        </tr>
        <tr>
            <td>开户行名称</td>
            <td><input name="bank_name" type="text" value="开户行名称" class="form-control width500 height-30"/></td>
        </tr>
        <tr>
            <td>开户行姓名</td>
            <td><input name="bank_user" type="text" value="开户行姓名" class="form-control width500 height-30"/></td>
        </tr>
        <tr>
            <td>法人</td>
            <td><input name="faren" type="text" value="法人" class="form-control width500 height-30"/></td>
        </tr>
        <tr>
            <td>法人电话</td>
            <td><input name="faren_tel" type="text" value="法人电话" class="form-control width500 height-30"/></td>
        </tr>
        <tr>
            <td>邮箱</td>
            <td><input name="email" type="text" value="zhangsanfeng@qq.com" class="form-control width500 height-30"/>
            </td>
        </tr>

        </tbody>
    </table>

    <table class="width100 vdouw-table mb-20" cellpadding="0" cellspacing="0">
        <thead>
        <tr>
            <td colspan="2"><b>总店信息</b></td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>电话</td>
            <td><input name="tel" type="text" value="13912345678" class="form-control width500 height-30"/></td>
        </tr>

        <tr>
            <td>联系人</td>
            <td><input name="contact" type="text" value="联系人" class="form-control width500 height-30"/></td>
        </tr>
        <tr>
            <td class="width20">所属分类</td>
            <td class="width80">
                <select class="form-control width500 height-30" name="category_id">
                    <option>选择分类</option>
                    <{volist name="firstCategorys" id="c"}>
                    <option value="<{$c.id}>"><{$c.name}></option>
                    <{/volist}>
                </select>
            </td>
        </tr>

        <tr>
            <td>所属子类</td>
            <td data-choice="more" class="se_category_id">
                <div>
                    <!--<span class="mr-10 c-pointer"><i-->
                    <!--class="icon-check-empty font18 color-admin-blue mr-3"></i>所属子类1</span>-->
                    <!--<span class="mr-10 c-pointer"><i class="icon-check font18 color-admin-blue mr-3"></i>所属子类2</span>-->
                </div>
                <input value="" type="hidden"/>
            </td>
        </tr>

        <tr>
            <td>商户地址</td>
            <td><input name="address" type="text" value="商户地址" class="form-control width500 height-30"/> <span
                    class="ml-10 c-pointer">标注</span></td>
        </tr>

        <tr>
            <td>营业时间</td>
            <td><input name="open_time" type="text" id="open_time" value="10:00 - 20:00"
                       class="form-control width500 height-30"/></td>
        </tr>

        <tr class="vdouw-kingeditor">
            <td>门店简介</td>
            <td>
                <script id="editor" type="text/plain" name="description" style="width:90%;height:300px;"></script>
            </td>
        </tr>

        <tr>
            <td></td>
            <td><input type="button" id="vdouw_submit" class="btn btn-primary width300 color-white" value="提交"/></td>
        </tr>
        </tbody>
    </table>
</form>

<script>

    //选择二级城市
    $(".cityId").change(function () {
        getSecondCitys();
    });

    //选择二级分类
    $("[name=category_id]").change(function () {
        getSecondCategorys();
    })

    $(function () {
        //getSecondCitys();
        //getSecondCategorys();
    });

    function getSecondCitys() {
        city_id = Number($(".cityId").val());
        url = SCOPE.secondcity_url;
        postData = {'id': city_id};
        $.post(url, postData, function (result) {
            if (result.status == 1) {
                data = result.data;
                city_html = "";
                $(data).each(function (i) {
                    city_html += "<option value='" + this.id + "'>" + this.name + "</option>";
                });
                $('.se_city_id').html(city_html);
            } else if (result.status == 0) {
                $('.se_city_id').html('');
            }
        }, 'json');
    }

    function getSecondCategorys() {
        cateId = Number($("[name=category_id]").val());
        url = SCOPE.secondcategory_url;
        postData = {'id': cateId};
        $.post(url, postData, function (result) {
            if (result.status == 1) {
                console.log(result);
                data = result.data;
                city_html = "";
                $(data).each(function (i) {
                    city_html += '<span class="mr-10 c-pointer"><i data-id="' + this.id + '" class="icon-check-empty font18 color-admin-blue mr-3"></i>' + this.name + '</span>';
                });
                $('.se_category_id div').html(city_html);
            } else if (result.status == 0) {
                $('.se_category_id').html('');
            }
        }, 'json');
    }

    //表单提交时的验证
    function submitValidateCallback() {
        if (Number($('#open_time').val().substr(8, 2)) - Number($('#open_time').val().substr(0, 2)) <= 1) {
            dialog.error('每天的营业时间，必须大于1小时');
            return false;
        }
        return true;
    }

    //营业时间的日历
    laydate.render({elem: '#open_time', type: 'time', format: 'HH:mm', range: true});

    var SCOPE = {
        "save_url": "/index.php/bis/register/add",
        "jump_url": "/index.php/bis/index/index",
        "secondcity_url": "/index.php/api/city/getCitysByParentId",
        "secondcategory_url": "/index.php/api/category/getCategorysByParentId",
        "uploadify_swf": "/plugins/uploadify/uploadify.swf",
        "image_upload": "/index.php/api/image/upload"
    };

    //    KindEditor.ready(function (K) {
    //        window.editor = K.create('.vdouw-editor', {
    //            uploadJson: "/index.php/api/image/upload",
    //            afterBlur: function () {
    //                this.sync();
    //            }
    //        });
    //    });

    $(function () {
        var ue = UE.getEditor('editor');
        var ue1 = UE.getEditor('editor1');

        $("#file_upload").uploadify({
            'swf': SCOPE.uploadify_swf,
            'uploader': SCOPE.image_upload,
            'buttonText': '图片上传',
            'fileTypeDesc': 'Image files',
            'fileObjName': 'file',
            'fileTypeExts': '*.gif; *.jpg; *.png',
            'onUploadSuccess': function (file, data, response) {
                console.log(file);
                console.log(data);
                console.log(response);
                if (response) {
                    var obj = JSON.parse(data);
                    $("#upload_org_code_img").attr("src", obj.data);
                    $("#file_upload_image").attr("value", obj.data);
                    $("#upload_org_code_img").show();
                }
            }
        });

        $("#file_upload_other").uploadify({
            'swf': SCOPE.uploadify_swf,
            'uploader': SCOPE.image_upload,
            'buttonText': '图片上传',
            'fileTypeDesc': 'Image files',
            'fileObjName': 'file',
            'fileTypeExts': '*.gif; *.jpg; *.png',
            'onUploadSuccess': function (file, data, response) {
                console.log(file);
                console.log(data);
                console.log(response);
                if (response) {
                    var obj = JSON.parse(data);
                    $("#upload_org_code_img_other").attr("src", obj.data);
                    $("#file_upload_image_other").attr("value", obj.data);
                    $("#upload_org_code_img_other").show();
                }
            }
        });
    });
</script>

<style>
    .vdouw-admin-body {
        margin: 30px 50px;
    }

    #file_upload-button, #file_upload_other-button {
        top: 6px;
        position: relative;
    }
</style>

<{include file="public/footer" /}>