<{include file="public/head"}>
<body class="vdouw-home">
<{include file="public/header"}>
<article>
    <div class="width1200 middle-left-right">
        <form class="login-register-box" id="vdouw-form">
            <div class="p mb-10">
                <div class="left"></div>
                <div class="right"><h3 class="font18">注册</h3></div>
            </div>
            <div class="p">
                <div class="left">用户名</div>
                <div class="right"><input type="text" name="username" value="zhangsanfeng"
                                          class="form-control width100"/></div>
            </div>
            <div class="p mt-20">
                <div class="left">邮箱</div>
                <div class="right"><input type="text" name="email" value="vdouw@qq.com" class="form-control width100"/>
                </div>
            </div>
            <div class="p mt-20">
                <div class="left">密码</div>
                <div class="right"><input type="password" name="password" value="123456" class="form-control width100"/>
                </div>
            </div>
            <div class="p mt-20">
                <div class="left">确认密码</div>
                <div class="right"><input type="password" value="123456" name="rpassword"
                                          class="form-control width100"/></div>
            </div>
            <div class="p mt-20">
                <div class="left">验证码</div>
                <div class="right">
                    <input type="password" class="form-control width60 pull-left"/>
                    <img class="code" src="/home/images/listpic.jpg"/>
                </div>
            </div>
            <div class="p mt-20">
                <div class="left"></div>
                <div class="right">
                    <input type="button" id="vdouw_submit" class="btn btn-primary width100" value="注册"/>
                </div>
            </div>
            <div class="p mt-20">
                <div class="left"></div>
                <div class="right">
                    <div class="pull-left">
                        <span>已有账号？</span>
                        <a href="/index.php/home/login/index" class="ml-10">去登录</a>
                    </div>
                    <div class="pull-right">
                        <a href="#">忘记密码</a>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </form>
    </div>
    <div class="clearfix"></div>
</article>
<footer>
    <p>footer第一行</p>
    <p>footer第二行</p>
</footer>
<script>
    var SCOPE = {
        "save_url": "/index.php/home/register/index",
        "jump_url": "/index.php/home/index/index"
    }
</script>

<{include file="public/footer"}>
