<{include file="public/header" /}>

<body class="vdouw-main-body">
<div class="vdouw-admin-position">
    <i class="icon-home mr-3"></i><span>后台首页</span>
    <cite class="ml-3 mr-3">></cite>
    <span>省市管理</span>
</div>
<div class="mt-10 mb-10 vdouw-admin-title">
    <b class="font20 height-100">添加省市</b>
    <i class="ml-10 mr-10">|</i>
    <a class="c-pointer color-admin-blue" href="/index.php/admin/city/index" target="right_content">省市列表</a>
</div>
<form id="vdouw-form">
    <table class="width100 vdouw-table mb-20" cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
            <td>省市名称</td>
            <td><input type="text" name="name" value="<{$thisCity.name}>" class="form-control width300 height-30"/></td>
        </tr>
        <tr>
            <td>English Name</td>
            <td><input type="text" name="uname" value="<{$thisCity.uname}>" class="form-control width300 height-30"/></td>
        </tr>
        <tr>
            <td>所属省市</td>
            <td>
                <select class="form-control width300 height-30" name="parent_id">
                    <option value="0">一级省市</option>
                    <{volist name="firstCity" id="vo"}>
                    <option value="<{$vo.id}>"
                    <{if condition="$vo.id eq $thisCity.parent_id"}>selected="selected"<{/if}>><{$vo.name}></option>
                    <{/volist}>
                </select>
            </td>
        </tr>
        <tr>
            <td><input type="hidden" name="id" value="<{$thisCity['id']}>"/></td>
            <td><input type="button" class="btn btn-primary width200 color-white" id="vdouw_submit" value="提交"/></td>
        </tr>
        </tbody>
    </table>
</form>

<script>
    var SCOPE = {
        "save_url": "/index.php/admin/city/edit",
        "jump_url": "/index.php/admin/city/index"
    }
</script>

<{include file="public/footer" /}>