<ul>

    <li>
        <div class="tran-all pl-15 pr-15"><a href="/index.php/admin/index/main" target="right_content"><i
                class="icon-desktop mr-5"></i><b>后台首页</b><i class="pull-right icon-sort-down"></i></a></div>
    </li>

    <li attr-onoff="off">
        <div class="tran-all pl-15 pr-15"><i class="icon-cog mr-5"></i><b>分类管理</b><i
                class="pull-right icon-sort-down"></i></div>
        <dl>
            <dd class="tran-all">
                <small class="icon-double-angle-right font16"></small>
                <a href="/index.php/admin/category/index" target="right_content">分类列表</a></dd>
            <dd class="tran-all">
                <small class="icon-double-angle-right font16"></small>
                <a href="/index.php/admin/category/add" target="right_content">添加分类</a></dd>
        </dl>
    </li>

    <li attr-onoff="on">
        <div class="tran-all pl-15 pr-15"><i class="icon-cog mr-5"></i><b>省市管理</b><i
                class="pull-right icon-sort-down"></i></div>
        <dl>
            <dd class="tran-all">
                <small class="icon-double-angle-right font16"></small>
                <a href="/index.php/admin/city/index" target="right_content">省市列表</a></dd>
            <dd class="tran-all">
                <small class="icon-double-angle-right font16"></small>
                <a href="/index.php/admin/city/add" target="right_content">添加省市</a></dd>
        </dl>
    </li>

    <li attr-onoff="off">
        <div class="tran-all pl-15 pr-15"><i class="icon-cog mr-5"></i><b>文章管理</b><i
                class="pull-right icon-sort-down"></i></div>
        <dl>
            <dd class="tran-all">
                <small class="icon-double-angle-right font16"></small>
                <a href="/index.php/Admin/Article/index" target="right_content">文章列表</a></dd>
            <dd class="tran-all">
                <small class="icon-double-angle-right font16"></small>
                <a href="/index.php/Admin/Article/add" target="right_content">添加文章</a></dd>
        </dl>
    </li>

    <li attr-onoff="off">
        <div class="tran-all pl-15 pr-15">
            <i class="icon-cog mr-5"></i>
            <b>网站设置</b>
            <i class="pull-right icon-sort-down"></i>
        </div>
        <dl>
            <dd class="tran-all">
                <small class="icon-double-angle-right font16"></small>
                <a href="/index.php/Admin/Config/base" target="right_content">网站设置</a>
            </dd>
            <dd class="tran-all">
                <small class="icon-double-angle-right font16"></small>
                <a href="/index.php/Admin/Config/seo" target="right_content">优化推广</a>
            </dd>
            <dd class="tran-all">
                <small class="icon-double-angle-right font16"></small>
                <a href="/index.php/Admin/Config/water" target="right_content">文章水印</a>
            </dd>
            <dd class="tran-all">
                <small class="icon-double-angle-right font16"></small>
                <a href="/index.php/Admin/Config/oauth" target="right_content">第三方登录</a>
            </dd>
            <dd class="tran-all">
                <small class="icon-double-angle-right font16"></small>
                <a href="/index.php/Admin/Config/other" target="right_content">其他第三方接口</a>
            </dd>
            <dd class="tran-all">
                <small class="icon-double-angle-right font16"></small>
                <a href="/index.php/Admin/Config/email" target="right_content">邮箱设置</a>
            </dd>
            <dd class="tran-all">
                <small class="icon-double-angle-right font16"></small>
                <a href="/index.php/Admin/Config/comment" target="right_content">评论设置</a>
            </dd>
        </dl>
    </li>
    <li attr-onoff="off">
        <div class="tran-all pl-15 pr-15"><i class="icon-cog mr-5"></i><b>菜单管理</b><i
                class="pull-right icon-sort-down"></i></div>
        <dl>
            <dd class="tran-all">
                <small class="icon-double-angle-right font16"></small>
                <a href="/index.php/Admin/Nav/index" target="right_content">菜单列表</a>
            </dd>
            <dd class="tran-all">
                <small class="icon-double-angle-right font16"></small>
                <a href="/index.php/Admin/Nav/add" target="right_content">添加菜单</a>
            </dd>

        </dl>
    </li>
    <li attr-onoff="off">
        <div class="tran-all pl-15 pr-15"><i class="icon-globe mr-5"></i><b>权限控制</b><i
                class="pull-right icon-sort-down"></i></div>
        <dl>
            <dd class="tran-all">
                <small class="icon-double-angle-right font16"></small>
                <a href="/index.php/Admin/Rule/index" target="right_content">权限管理</a>
            </dd>
        </dl>
        <dl>
            <dd class="tran-all">
                <small class="icon-double-angle-right font16"></small>
                <a href="/index.php/Admin/Rule/group" target="right_content">用户组管理</a>
            </dd>
        </dl>
        <dl>
            <dd class="tran-all">
                <small class="icon-double-angle-right font16"></small>
                <a href="/index.php/Admin/Rule/adminuserlist" target="right_content">后台管理员</a>
            </dd>
        </dl>
    </li>

    <li attr-onoff="on">
        <div class="tran-all pl-15 pr-15"><i class="icon-globe mr-5"></i><b>静态页面</b><i
                class="pull-right icon-sort-down"></i></div>
        <dl>
            <dd class="tran-all">
                <small class="icon-double-angle-right font16"></small>
                <a href="/admin/index.php" target="_blank">静态首页</a>
            </dd>
        </dl>

    </li>

</ul>

<script>
    $("article > .pull-left li > div").click(function () {
        if ($(this).parent().attr("attr-onoff") == "off") {
            $(this).next("dl").slideDown();
            $(this).parent().attr("attr-onoff", "on");
        } else {
            $(this).next("dl").slideUp();
            $(this).parent().attr("attr-onoff", "off");
        }
    });

    $("article > .pull-left li dd").click(function () {
        $("article > .pull-left li dd").removeClass("active");
        $(this).addClass("active");
    });
</script>